@import './colors.scss';
@import './form_styles.scss';
@import './variables.scss';

/**
* Global Button Styles
*/
.mat-button,
.mat-flat-button,
.mat-stroked-button,
.mat-raised-button,
.mat-icon-button {
  font-weight: 500;
  border-radius: 50 * $px;
  line-height: 30 * $px;
  white-space: nowrap;
}

/**
* Global Icon Styles
*/

mat-icon.sm {
  font-size: 20 * $px;
  margin-top: 3 * $px;
}

mat-icon.md {
  font-size: 30 * $px;
}

/**
* Global Table Styles
*/

td.mat-cell {
  border-bottom-color: rgba(180, 180, 180, 0.18);
}

.mat-header-cell {
  font-weight: 700;
}

.mat-cell {
  font-size: 14px;
}
